.noidung1{background-color:#333333;}
.Portfolio_Website{
text-align: center;
}
#noidung1{background-color: #F1F1F1;
text-align: center;
padding: 10px;}
.noidung2{text-align: center;}
.tieude2{font-size: 50px;}
.noidung3{text-align: center;}
.noidung4{text-align: center;}
.footer{background-color: #333333;
text-align: center;
padding:2px;}
